.container {
    /* Responsible for centering the content */
    margin: 0 auto;
    max-width: 40rem; /* 400px based on unit sizing */
    padding: 1.5rem; /* 15px */
    background-color: lightblue; /* Light blue background */
  }
  